{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profile_index') }}">back to list</a>

    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}